/* Общие стили */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #ededed;
}

/* Сама форма */
form {
    background: #fff;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    text-align: center;
}

label {
    display: flex;
    flex-direction: column;
}

/* Поля ввода */
input, textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* Фокус на поле */
input:focus, textarea:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

/* Кнопка */
button {
    padding: 12px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

/* Эффект наведения и нажатия */
button:hover {
    background: #525252;
}

button:active {
    transform: scale(0.97);
}
